body{
  background-color: rgb(119, 21, 175);
  
}
.App {
  text-align: center;
  
}

/* h1{
  background-color: white;
} */
/* .budgeting{
  display: flex;
  border: 1px solid white;
  flex-flow: column wrap;
  background-color: white;
  
} */
li {
  list-style-type:none
 }
/* .budgeting{ */

 
/* input[type=text]{
  width: 25%;
  padding: 12px 20px;
  box-sizing: border-box;
} */
form {
  width: 200px;
  display: flex;
  flex-direction: column;
  margin: 5px 0;
}