body{
  background-color: rgb(119, 21, 175);
  
}
.App {
  text-align: center;
  
}


/* li {
  list-style-type:none
 } */

form {
  width: 200px;
  display: flex;
  flex-direction: column;
  margin: 5px 0;
  padding-left: 8px;
}

ul{
  /* border: 1px solid black; */
  background-color: white;
  border-radius: 15px; 
  list-style-type:none
  /* width: 100px;
  height: 150px; */
}

.expenseTotal {
  margin: 150px auto;
  width: 150px;
  height: 150px;
  background: #fefcff;
  border-radius: 50%;
  border: 1px solid #cdcbd0;
  display: flex;
  
}